environment:
  command: {}
  control:
    action_scale: 0.3
  domain_rand:
    apply_kicks: false
    kick_interval: 10
    kick_vel: 0.05
  environment_class: QuadrupedVisionTarget
  observation_noise:
    add_privileged_obs: false
    clip: 100.0
    extended_history_length: 15
    general_noise: 0.05
    history_length: 1
  rewards:
    reward_clip_max: 10000.0
    reward_clip_min: -100.0
    scales:
      action_rate: -0.01
      ang_vel_xy: -0.05
      feet_air_time: 0.2
      foot_slip: -0.1
      goal_progress: 2.5
      goal_yaw_alignment: 1.0
      lin_vel_z: -2.0
      orientation: -5.0
      speed_towards_goal: 2.5
      termination: -1.0
      torques: -0.0002
    termination_body_height: 0.18
    yaw_alignment_threshold: 1.35
  sim:
    ctrl_dt: 0.02
    override:
      Kd: 0.5
      Kp: 35.0
    sim_dt: 0.004
terrain:
  add_goal: true
  base_scene_file: scene_mjx_empty_arena.xml
  column_offset: 0
  goal_location:
  - 10
  - 0
  - 0.5
  goal_size: 0.5
  n_columns: 20
  n_rows: 20
  num_colors: 2
  randomization_config:
    num_colors: 2
    tile_body_prefix: tile_
  square_size: 1.0
  terrain_class: ColorMap
vision_wrapper:
  brightness:
  - 0.75
  - 2.0
  camera_inputs:
  - name: frontal_ego
    use_actual_rgb: false
    use_brightness_randomized_rgb: true
    use_depth: false
  - name: terrain
    use_actual_rgb: true
    use_brightness_randomized_rgb: false
    use_depth: false
  renderer_config:
    enabled_cameras:
    - 1
    - 2
    enabled_geom_groups:
    - 0
    - 1
    - 2
    gpu_id: 0
    render_batch_size: 256
    render_height: 128
    render_width: 128
    use_rasterizer: false
  vision_wrapper_class: ColorGuidedWrapper
