environment:
  command:
    ranges:
      ang_vel_yaw_max: 0.0
      ang_vel_yaw_min: 0.0
      lin_vel_x_max: 1.5
      lin_vel_x_min: 0.0
      lin_vel_y_max: 0.0
      lin_vel_y_min: 0.0
    resampling_time: 500
  control:
    action_scale: 0.3
  domain_rand:
    apply_kicks: false
    kick_interval: 10
    kick_vel: 0.05
  environment_class: JoystickBase
  observation_noise:
    add_privileged_obs: false
    clip: 100.0
    extended_history_length: null
    general_noise: 0.05
    history_length: 15
  rewards:
    reward_clip_max: 10000.0
    reward_clip_min: -100.0
    scales:
      action_rate: -0.01
      ang_vel_xy: -0.05
      feet_air_time: 0.2
      foot_slip: -0.1
      lin_vel_z: -2.0
      orientation: -5.0
      stand_still: -0.5
      termination: -1.0
      torques: -0.0002
      tracking_ang_vel: 0.8
      tracking_lin_vel: 1.5
    termination_body_height: 0.18
    tracking_sigma: 0.25
  sim:
    ctrl_dt: 0.02
    override:
      Kd: 0.5
      Kp: 35.0
    sim_dt: 0.004
terrain:
  base_scene_file: scene_mjx_empty_arena.xml
  egocentric_camera:
    fovy: 80
    location:
    - 0.3
    - 0.0
    - 0.1
    mode: fixed
    name: ego_frontal
    orthographic: false
    xyaxes:
    - 0
    - -1
    - 0
    - 0
    - 0
    - 1
  n_flat_tiles: 4
  n_stripe_tiles: 4
  randomization_config: null
  square_size: 1.0
  terrain_class: StripeTiles
vision_wrapper:
  brightness:
  - 0.75
  - 2.0
  camera_inputs:
  - name: frontal_ego
    use_actual_rgb: false
    use_brightness_randomized_rgb: true
    use_depth: false
  - name: terrain
    use_actual_rgb: false
    use_brightness_randomized_rgb: false
    use_depth: true
  vision_wrapper_class: VisionBaseWrapper
