model:
  encoder:
    layer_sizes:
    - 128
    - 256
  encoder_obs_key: environment_privileged
  encoder_supersteps: 16
  latent_encoding_size: 256
  model_class: TeacherStudent
  policy:
    layer_sizes:
    - 256
    - 128
  policy_obs_key: proprioceptive
  student:
    layer_sizes:
    - 512
    - 256
  student_obs_key: proprioceptive_history
  value:
    layer_sizes:
    - 256
    - 256
  value_obs_key: proprioceptive
training:
  action_repeat: 1
  augment_pixels: false
  batch_size: 4
  deterministic_eval: false
  episode_length: 1000
  log_training_metrics: false
  normalize_observations: true
  num_envs: 4
  num_eval_envs: 4
  num_evals: 5
  num_minibatches: 4
  num_resets_per_eval: 0
  num_timesteps: 100000
  num_updates_per_batch: 4
  optimizer:
    learning_rate: 0.0004
    max_grad_norm: null
  rl_hyperparams:
    clipping_epsilon: 0.3
    discounting: 0.97
    entropy_cost: 0.01
    gae_lambda: 0.95
    normalize_advantage: true
    reward_scaling: 1
  seed: 0
  training_class: PPO
  training_metrics_steps: null
  unroll_length: 20
  use_vision: false
